<div id="container">
  <div id="title">JS Drum Pad</div>
  <div id="table">
    <div id="buttons">
      <div class="rowButtons">
        <div class="columnButtons">1</div>
        <div class="columnButtons">2</div>
        <div class="columnButtons">3</div>
        <div class="columnButtons">4</div>
      </div>
      <div class="rowButtons">
        <div class="columnButtons">5</div>
        <div class="columnButtons">6</div>
        <div class="columnButtons">7</div>
        <div class="columnButtons">8</div>
      </div>
      <div class="rowButtons">
        <div class="columnButtons">9</div>
        <div class="columnButtons">10</div>
        <div class="columnButtons">11</div>
        <div class="columnButtons">12</div>
      </div>
      <div class="rowButtons">
        <div class="columnButtons">13</div>
        <div class="columnButtons">14</div>
        <div class="columnButtons">15</div>
        <div class="columnButtons">16</div>
      </div>
    </div>
    <div id="menu">
      <div class="rowMenu">RECORD</div>
      <div class="rowMenu">
        <div class="columnMenu">1</div>
        <div class="columnMenu">2</div>
        <div class="columnMenu">3</div>
        <div class="columnMenu">4</div>
      </div>
      <div class="rowMenu">text</div>
    </div>
  </div>
</div>
